.List-button {
  margin-top:100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:2px solid rgb(4, 64, 104);
  background-color:rgb(4, 64, 104);
  color:#fff;
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight:bold;
  text-align: center;
}

.List-button:hover{
  cursor: pointer;
}