.detail_updateform {
  border: 3px solid rgb(53, 43, 68);
  width: 700px;
  padding: 8px;
  margin: auto;
  margin-top: 100px;
  align-content: center;
  background: #eee;
}

.detail_updateform tr {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.detail_updateform .detail_label {
  width:100px;
  font-size:20px;
  line-height:24px;
  font-weight:500;
  margin: 10px;
  font-weight: 500;
}

.detail_updateform input {
  height: 20px;
  width: 500px;
  font-size: 20px;
  padding: 20px;
  margin: 10px;
  border: 3px solid rgb(53, 43, 68);
}

.detail_updateform .detail_content {
  height: 150px;
}

.detail_form {
  border: 3px solid rgb(53, 43, 68);
  width: 700px;
  padding: 8px;
  margin: auto;
  margin-top: 100px;
  align-content: center;
  background: #eee;
}

.detail_form .detail_label {
  display:block;
  text-align: right;
}

.detail_form .detail_content{
  border: 3px solid rgb(53, 43, 68);
  width: 500px;
  height: 150px;
  padding: 8px;
  margin: auto;
  align-content: center;
}

.detail_button {
  margin-top:5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:2px solid #09F;
  background-color:#09F;
  color:#fff;
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight:bold;
  text-align: center;
}

.detail_button:hover{
  cursor: pointer;
}