.postlist_table {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: center;
  line-height: 1.5;
  margin: auto;
}

.postlist_table th {
  width: 200px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #fff;
  background: #153d73 ;
}

.postlist_table th.no {
  width: 50px;
}

.postlist_table th.title {
  width: 500px;
}