.postinfo_tr td {
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #eee;
}

.postinfo_title {
  color: #0e5fc9;
}

.postinfo_title:hover{
  text-decoration: underline;
  cursor: pointer;
}